.button-round {
  --border-style: solid;
  --border-width: 1px;
  --border-color: var(--ion-color-dark);
  margin-right: 10px;
  text-transform: none;
  // margin:52px -30px -47px 5px;
}

.like-text {
  font-weight: bold; 
  margin-right: 10px;
}

.like-icon {
  height: 18px;
  width: 18px;
  margin-right: 7px;
  color: #e638a9;
}

.size-small {
  width: 14px;
  height: 14px;
}

.likeicon {
  font-size: 25px;
  margin-top: -3px;
  margin-right: 7px;
  color: #2ca88b;
}


