.homeTitle {
  font-size: 30px;
  text-align: left;
  color: #2ca88b !important;
}

.badge {
  position: absolute;
  right: 10px;
  top: 0px;
  margin: 0;
  border: 1px solid;
  padding: 2px 0px 0 0;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #eb445a;
  color: white;
  font-size: 0.62rem;
  text-align: center;
}